body {
    background-color: #3a3a3a;
    color: rgb(204, 204, 204);
}

td {
    border: 1px solid rgb(173, 173, 173);
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}
/* 
div {
    width: 330px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
} */


.nono {
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 15px;
    box-sizing: border-box;
    color: #b4b4b4;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
    margin-left: 40%;
}

.nono:disabled {
    pointer-events: none;
}

.nono:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.nono:active {
    box-shadow: none;
    transform: translateY(0);
}

#menu{
    float: right;
    margin: 0;
    padding: 0;
}
#menu li{
    float: left;
    list-style: none;
    padding: 0;
    margin: 5px 2px 0 0;
}

#menu li a {
    display: block;
    font-size: 100%;
    height: 20px;
    float: left;
    padding: 6px 20px 5px 20px;
    text-decoration: none;
    text-align: center;
    margin: 5px 2px 0 0;
    background-color: #d7d7d7;
    color: #000040;
    /* border-radius: 10px 10px 0 0;(나중에 차후 변경) */
}

#menu li a:hover {
    background-color: #fff;
    color: #303030;
}

#menu .selected a, #menu .selected a:hover{
    background-color: white;
    color: #000;
}

#logo{
    width: 860px;
    position: relative;/* 상대좌표: 나머지 요소 위치에 영향을 주지 않고 자신만 움직임 */
    height: 134px;
}

#logo h1 {
    font-size: 300%;
    padding: 24px 0 0 0;
    margin: 0;
    color: #fff;
}

#logo h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #a8aa94;
}

#logo h1, #logo h1 a, #logo h1 a:hover{
    padding: 22px 0 0 0;
    color: white;
    text-decoration: none;
}

#site_content{
    width: 858px;
    overflow: hidden; /* 보여지는 너비보다 큰 경우 숨김 */
    margin: 0 auto ;
    padding: 10px 20px 20px 20px;
    background: #252525 repeat-y;
}

/* CSS
.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
} */